.item{
border-radius: 300px;
}
#experince{
	"margin-left: 300px; position: absolute; margin-top: 1700px;

}
body {
  font-family:sans-serif;
  scroll-behavior: smooth;
}
#main:hover.sidenav{
  transition:9s;
  background-color:black; 
}
.sidenav:hover{
  background-color: lightgreen;
  transition: 4s;
  color: black;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#main {
  position: absolute;
  margin-left: 289px;
  font-size: 28px;
margin-top: -10px;
 background-image: url(1.jpg);
 background-repeat: no-repeat;
 background-size: 100% ;
 height: 700px;
}
#main:hover{
 opacity: 0.8;
 font-weight: 100px;
}
#Ed
{
   position: absolute;
margin-left: 289px;
  font-size: 28px;
margin-top: 800px;
background-color: lightblue;
 width: 76.92%;
 height: 1600px; 
}
.imgsection{
  position: absolute;
  margin-left: 300px;
 
}
.mained{
  margin-left:  200px;
  width:  60%;
  height:   800px;
  color:  white;

} 
.school{
background-image: url("school.jpg");
border-radius: 10px;
  width:  40%;
  height:  120px;
}
.college{
background-image: url("college.jpg");
  background-color:   yellow;
  width:  80%;
  height:  140px;
  border-radius: 10px;
 
}
.currenteducation{
  background-image: url("cdi.jpg");
   background-color:   yellow;
  width:  100%;
  height:  100px; border-radius: 10px;
}
.name{
background-image: url("education.jpg");

  width:  100%;
  height:  100px;
  border-radius: 10px;
}
.name:hover{
  background-image: none;
  background-color: yellow;
  transition: 3s;
  color: white;
  width: 100%;
  height: 130px;
}
.school:hover{
  background-image: none;
  background-color: yellow;
  transition: 3s;
  color: white;
  width: 100%;
  height: 130px;
}
.college:hover{
  background-image: none;
  background-color: yellow;
  transition: 3s;
  color: white;
  width: 100%;
  height: 130px;
}
.currenteducation:hover{
  background-image: none;
  background-color: green;
  transition: 3s;
  color: white;
  width: 100%;
  height: 130px;
}

h2{
  font-size:  18px;

    background-color:   black;
}
h2:hover{
  font-size:  22px;
transition: 5s;
    background-color:   yellow;
}
h3{

   color: black;
  font-size:  15px;


}
 h3:hover{
  font-size:  18px;
transition: 10s;
    background-color:   white;
    margin-left: 400px;
}
h4{
color: black;
font-size:  12px;
}